@model KakeiboApp.Models.Views.DetailsViewModel
<h2>家計簿詳細</h2>
<h3>カテゴリ: @Model.CategoryName</h3>
<table class="table">
    <thead>
        <tr>
            <th>タイトル</th>
            <th>金額</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach(var item in Model.Details)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Amount 円</td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">削除</a>
            </td>
        </tr>
    }
    </tbody>
</table>